.btns {
  color: rgb(5, 5, 5);
  background: rgb(173, 50, 50);
  background-color: rgb(255, 255, 255);
  /* width: 125px; */
  font-size: 17px;
  display: inline;
 /* border: none; */
}

.Apper {
    height: 40px;
    /* background-color: grey; */
    /* border: solid 1px black ; */
    /* position: fixed; */
    /* top: 0; */
    /* width: 100%; */

}

.App {
    text-align: center;
  }
  
  .img {
    background-color: red;
    height: 300px;
    width: 400px;
    position: relative;
    /* display: flex; */
    /* justify-content: center; */
  }
  
  .img div {
    position: absolute;
    left: 50%;
  }

